@page
@model TableauWeb.Utilisateurs.EditModel

<div class="container-fluid">
    <a asp-page="Index">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Retour
    </a>
</div>

<div class="container-fluid">
    <div class="jumbotron">
        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Utilisateur.Nom" class="control-label"></label>
                <input asp-for="Utilisateur.Nom" class="form-control" />
                <span asp-validation-for="Utilisateur.Nom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <select asp-for="Utilisateur.Role" asp-items="@Model.Roles">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Utilisateur.Role" class="text-danger"></span>
            </div>

            <div class="float-right">
                <button class="btn ml-auto"><i class="fa fa-pencil" aria-hidden="true"></i> Modifier</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
