@page
@model TableauWeb.Images.CreateModel

    <div class="container-fluid">
        <a asp-page="Index">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Retour
        </a>
    </div>

<div class="container-fluid">
    <div class="jumbotron">
        <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <p>Image</p>
                <input type="file" name="file" lang="fr-fr" accept=".jpg, .jpeg, .png" title="Test " />
            </div>

            <div class="form-group">
                <label asp-for="ImageTableau.Nom" class="control-label"></label>
                <input asp-for="ImageTableau.Nom" class="form-control" />
                <span asp-validation-for="ImageTableau.Nom" class="text-danger"></span>
            </div>

            <div class="ml-auto">
                <button class="btn ml-auto"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}