@page
@model TableauWeb.Images.EditModel

    <div class="container-fluid">
        <a asp-page="Index">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Retour
        </a>
    </div>

<div class="container-fluid">
    <div class="jumbotron">
        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <img src="~/@Model.Image.UrlAffichage" class="img-fluid" asp-append-version="true" />

            <div class="form-group">
                <label asp-for="Image.Nom" class="control-label"></label>
                <input asp-for="Image.Nom" class="form-control" />
                <span asp-validation-for="Image.Nom" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Image.ImageId" />

            <div class="ml-auto">
                <button class="btn ml-auto"><i class="fa fa-pencil" aria-hidden="true"></i> Modifier</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}