@page
@model TableauWeb.Images.IndexModel

<div class="container-fluid">
    <a asp-page="Index">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Retour
    </a>
    <a asp-page="Create" class="float-right">
        <i class="fa fa-plus" aria-hidden="true"></i> Nouveau
    </a>
</div>

<div class="container-fluid">
    <div class="jumbotron">
        <table class="table table-hover table-striped">
            <tbody>
                @foreach (var item in Model.ImageTableau)
                {
                    <tr>
                        <td>
                            @*<div class="form-group">
                                <label asp-for="~/@Model.NamesService.DossierImagesTableaux/@item.Url" class="control-label"></label>
                                <input asp-for="~/@Model.NamesService.DossierImagesTableaux/@item.Url" class="form-control" />
                            </div>*@
                            <div class="row justify-content-around">
                                <img src="~/@Model.NamesService.DossierImagesTableaux/@item.Url" class="img-fluid" asp-append-version="true" />
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nom)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
