@page
@using Microsoft.AspNetCore.Identity
@using TableauWeb.Model
@inject SignInManager<Utilisateur> SignInManager
@model TableauWeb.Tableaux.IndexModel

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <div class="container-fluid p-2">
            <div class="row recherche">
                <div class="col-11 align-self-center">
                    <input class="form-control" placeholder="Recherche" type="text" asp-for="SearchString" />
                </div>
                <div class="col-1 text-left align-self-center">
                    <button class="btn btn-default fa-2x" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    @foreach (var tableauInfo in Model.TableauxInfo)
    {
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
            <div class="card">

                <img src="@tableauInfo.UrlAffichage" class="card-img-top rounded" alt="Card image cap" />

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <h4 class="card-title">@tableauInfo.Nom</h4>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <footer>
                                <p class="float-left">@tableauInfo.NombreImpression</p>

                                @if (tableauInfo.PeutEtreSelectionnee)
                                {
                                    <a asp-page="./Create" asp-route-id="@tableauInfo.ImageTableauId" class="float-right">
                                        <i class="fa fa-check" aria-hidden="true"></i> Selection
                                    </a>
                                }
                            </footer>
                        }
                    </blockquote>
                </div>
            </div>
        </div>
    }
</div>